3_pii_access.json
{
  "name": "TrustLoop + Signatrust: PII Access Governance",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai_pii_access_request",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "trigger-1",
      "name": "AI PII Access Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.trustloop.live/api/intercept",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.TRUSTLOOP_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"tool_name\": \"access_customer_data\", \"arguments\": {{JSON.stringify($json.body)}}, \"agent_name\": \"n8n-pii-workflow\"}",
        "options": {}
      },
      "id": "trustloop-1",
      "name": "TrustLoop Policy Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.allowed}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-1",
      "name": "Is Allowed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('AI PII Access Request').item.json.body;\nreturn {\n  action: 'pii_data_accessed',\n  customer_id: input.customer_id || 'unknown',\n  data_type: input.data_type || 'profile',\n  purpose: input.purpose || 'support_request',\n  fields_accessed: input.fields || ['name', 'email'],\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "execute-1",
      "name": "Fetch Database Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://signatrust.net/api/v1/n8n/receipts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.SIGNATRUST_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({\"decision\": \"Accessed PII data (\" + ($json.data_type || 'profile') + \") for customer \" + ($json.customer_id || 'unknown') + \" — purpose: \" + ($json.purpose || 'support_request') + \" — governed by TrustLoop policy\", \"agent_id\": \"n8n-pii-workflow\", \"action\": \"pii_data_accessed\", \"metadata\": {\"governed_by\": \"TrustLoop\", \"customer_id\": $json.customer_id, \"data_type\": $json.data_type, \"fields_accessed\": $json.fields_accessed}})}}",
        "options": {}
      },
      "id": "signatrust-1",
      "name": "Signatrust Seal Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        -100
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://signatrust.net/api/v1/n8n/receipts/{{$json.receipt_id}}/verify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.SIGNATRUST_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "verify-1",
      "name": "Verify Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1000,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "const receipt = $('Signatrust Seal Receipt').item.json;\nconst verification = $json;\nreturn {\n  status: 'completed',\n  receipt_id: receipt.receipt_id,\n  verified: verification.valid,\n  share_url: receipt.share_url,\n  hash: receipt.hash,\n  signature: receipt.signature\n};"
      },
      "id": "respond-1",
      "name": "Return Audit Trail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  status: 'blocked',\n  reason: $('TrustLoop Policy Check').item.json.message || 'Policy violation detected',\n  action: 'pii_access_denied'\n};"
      },
      "id": "block-1",
      "name": "Handle Blocked Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        100
      ]
    }
  ],
  "connections": {
    "AI PII Access Request": {
      "main": [
        [
          {
            "node": "TrustLoop Policy Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TrustLoop Policy Check": {
      "main": [
        [
          {
            "node": "Is Allowed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Allowed?": {
      "main": [
        [
          {
            "node": "Fetch Database Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Blocked Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Database Record": {
      "main": [
        [
          {
            "node": "Signatrust Seal Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signatrust Seal Receipt": {
      "main": [
        [
          {
            "node": "Verify Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Receipt": {
      "main": [
        [
          {
            "node": "Return Audit Trail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2.0"
}
